.env
meshbox-studio
.cache
site
.vscode
frontend/node_modules
frontend/dist
backend/data/
backend/internal/webui/dist/*
!backend/internal/webui/dist/.gitkeep
!backend/internal/webui/dist/app/.gitkeep
